body {
background: white;
}
* {
  box-sizing: border-box;
  font-family: Noto Sans KR;
   color: #6E6767; 
}

/* dHead */
#dHead {position:relative; height:111px; /*border-top:4px solid #ff6a00;*/ border-bottom:1px solid #ff6400;}/* 231101 수정 */
/* #dHead #tnb {background:#f4f4f6; display: none;} */ /* 231101 수정 */
/* #dHead .tnb-wrap {width:1140px; height:45px; line-height:45px; margin:0 auto; color:#999; font-weight:400;}
#dHead .tnb-wrap p {float:left; font-size:14px;}
#dHead .tnb-wrap strong {color:#333; font-weight:400;}
#dHead .tnb-wrap .utill {float:right;}
#dHead .tnb-wrap div > ul {float:left;}
#dHead .tnb-wrap ul > li {float:left;}
#dHead .tnb-wrap ul.sns li {margin-left:18px;}
#dHead .tnb-wrap ul.sns li img {margin-top:14px; vertical-align:top;}
#dHead .tnb-wrap ul.top-link {margin-left:35px;}
#dHead .tnb-wrap ul.top-link > li {margin-left:5px;}
#dHead .tnb-wrap ul.top-link > li a {display:block; margin-top:10px; padding:0px 10px; height:21px; line-height:21px; color:#666; font-size:13px; border:1px solid #dedede; background:#fff; border-radius:3px;}
#dHead .tnb-wrap ul.top-link > li a.btn01 {padding:0; border:0 none; background:none; vertical-align:top;}
#dHead .tnb-wrap ul li.lang {position:relative;}
#dHead .tnb-wrap ul li.lang > a {display:block; width:30px; height:20px; color:#888; font-size:12px; font-weight:400; line-height:20px; border:1px solid #ccc; border-radius:3px; background:#f4f4f4 url(../images/icon/ico_lang_down.gif) no-repeat 90% center;}
#dHead .tnb-wrap ul li.lang ul {display:none; position:absolute; top:11px; left:0; border:1px solid #ddd; border-radius:3px; text-align:center; z-index:50;}
#dHead .tnb-wrap ul li.lang ul li a {display:block; width:30px; height:20px; line-height:20px; margin:0; color:#888; font-size:12px; font-weight:400; border:0 none; border-radius:0;}
#dHead .tnb-wrap ul li.lang ul li a:hover, #dHead .tnb-wrap ul li.lang ul li a:focus {background:#f4f4f6;} */ */

#dHead #gnbWrap {position:relative; width:1140px; height:100%; margin:0 auto; clear:both; display: flex; align-items: center;}/* 231101 수정 */
#dHead h1 {float:left; width:186px; /*margin-top:25px;*/}/* 231101 수정 */
#dHead .gnb {position:absolute; top:22px; right:0;}
#dHead .gnb > li {float:left;margin-left:84px !important;}/* 231101 수정 */
#dHead .gnb > li > a {display:block; height:65px; color:#111; line-height:65px; font-size:18px; font-weight:500;}
#dHead .gnb > li > a.on {border-bottom:4px solid #ff6a00;}
#dHead .gnb > li > a:hover {border-bottom:4px solid #ff6a00;}
/* 
#dHead .submenu-wrap {display:none; position:absolute; top:111px; width:100%; border-top:1px solid #e6e6e6;  border-bottom:1px solid #888; background:#fff; overflow:hidden; z-index:50;}
#dHead .submenu-wrap > div {width:1140px; margin:0 auto;}
#dHead .submenu-wrap .submenu {float:right;}
#dHead .submenu-wrap ul {float:left; width:95px; padding:16px 0;}
#dHead .submenu-wrap ul li {line-height:38px; text-align:center;}
#dHead .submenu-wrap ul li a {color:#867d77; font-size:15px; font-weight:400;}
#dHead .submenu-wrap ul li a:hover {color:#000;}
#dHead .submenu-wrap ul.sub02 {width:115px;margin-left:55px;}
#dHead .submenu-wrap ul.sub03 {margin-left:70px;}
#dHead .submenu-wrap ul.sub04 {margin-left:80px;}
#dHead .submenu-wrap ul.sub05 {margin-left:55px;}
#dHead .submenu-wrap ul.sub06 {width:80px; margin-left:57px;} */

#dHead .submenu-wrap-sy {  
  display:none; 
  position:absolute; top:111px; width:100%; border-top:1px solid #e6e6e6;  border-bottom:1px solid #888; background:#fff; overflow:hidden; z-index:50;

}
#dHead .submenu-wrap-sy > div {width:1140px; margin:0 auto;}
#dHead .submenu-wrap-sy .submenu {float:right;}
#dHead .submenu-wrap-sy ul {float:left; width:95px; padding:16px 0;}
#dHead .submenu-wrap-sy ul li {line-height:38px; text-align:center;}
#dHead .submenu-wrap-sy ul li a {color:#867d77; font-size:15px; font-weight:400;}
#dHead .submenu-wrap-sy ul li a:hover {color:#000;}
#dHead .submenu-wrap-sy ul.sub02 {width:115px;margin-left:33px;}
#dHead .submenu-wrap-sy ul.sub03 {margin-left:50px;}
#dHead .submenu-wrap-sy ul.sub04 {margin-left:57px;}
#dHead .submenu-wrap-sy ul.sub05 {margin-left:30px;}
#dHead .submenu-wrap-sy ul.sub06 {width:80px; margin-left:45px;margin-right:-12px;}




#dHead {
  position: relative;
  z-index: 9999;
}

.wrap {
  max-width: 1920px; 
  /* height: 8300px;  */
  position: relative; 
  background: white; overflow: hidden;
  margin: 0 auto;
}

.inner
{
  /* max-width: 1920px;  */
  width: 1660px; height: 100%;
  padding: 0 0px;
  margin: 0 auto;
  /* background: yellow; */
}

.title, .title-sns {font-size: 50px; font-weight: 800;}
.sub-title{font-size: 30px; font-weight: 350;}

/*  */
.blank {
  width: 100%;
  height: 680px;
}

/* ======================1 brand ====================== */
.brand {
  width: 100%;  height: 1100px;
  text-align: center;  
  background: url("../img/main/bg/bg_brand.png") no-repeat;
  /* border: 1px solid #000; */
}

/* .brand .inner {background: aqua;} */
.brand .cons {
  display: flex; gap:10px;   
  width: 100%; height: 100%;
  /* background: gray; */
}

.brand .brand-rect {
  width: calc(100% / 3); height: 400px;
  text-align: center;  
}

.brand .txt {font-size: 30px; font-weight: bold; margin: 30px;}
.brand .pic {
  width: 100%;height: 100%;
  border-radius: 50px;
  border: 7px solid #ff6400;
}

.brand .noodle .pic {background: url("../img/main/2brand/buldak.png") no-repeat center /contain;}
.brand .snack .pic {background: url("../img/main/2brand/snack_popeye.png") no-repeat center /contain;}
.brand .sauce .pic {background: url("../img/main/2brand/sauce4.png") no-repeat center /contain;}

.brand .button {
  width: 80%;height: 150px;  
  border-radius: 50px;
  margin: 0 auto;
}
.brand .noodle .button {background: url("../img/main/button/noodle.png") no-repeat center /contain;;}
.brand .snack .button {background: url("../img/main/button/snack.png") no-repeat center /contain;;}
.brand .sauce .button {background: url("../img/main/button/sauce.png") no-repeat center /contain;;}

/* ====================== about ====================== */
.about {
  width: 100%;  height: 1880px;
  text-align: center;  
  background: url("../img/main/bg/bg_about.png") no-repeat left top /cover;
  position: relative;
}

.about .title-about {
text-align-last: left; ;
color: #FF6400; 
font-size: 80px;  font-weight: 700; word-wrap: break-word
}

.about .sub-title {
  width: 751px; 
  text-align-last: left;   line-height: 36px;   word-wrap: break-word;
}

/* --------- about 텍스트들 ------------ */
.about .con-txt { 
  /* padding-top: 100px; */
  /* top: 0px; left: 50px;    */
  position: relative; 
}

.about .con-txt span:first-of-type {
  text-align: center; color: #FF6400; font-size: 50px;  font-weight: 700; word-wrap: break-word
}
.about .con-txt span:nth-of-type(2) {
  text-align: center; color: black; font-size: 30px; 
  font-weight: 400; word-wrap: break-word;
}
/* --------- about 텍스트들 끝 ------------ */

.about .inner {position: relative;
   /* background: rgba(165, 231, 11, 0.3) */
  }
.about .sub-title {margin-bottom: 30px;}

.about .con {display:flex; align-items: center;}
.about .con .con-txt {padding: 30px;}
.about .con1 {height: 500px; /*background: skyblue;*/}
.about .con2 {height: 300px; /*background: pink;*/ }
.about .con3 {height: 500px; /*background: orange;*/}

.about .circle1{
  width: 500px;   height: 500px; 
  left: 260px;   top: 1720px; 
  border-radius: 9999px; 
  border: 15px #ED8226 solid;
  background: url("../img/main/3about/about1.jpg") center /cover;
}

.about .con2 .con-txt {
  top: 0px; left: 800px;   
  position: relative; 
}

.about .circle2{
  width: 500px;   height: 500px;  left: calc(100% - 500px);  top: 600px; 
  position: absolute; 
  border-radius: 9999px; 
  border: 15px #ED8226 solid;
  background: url("../img/main/3about/about2.jpg") center /cover;
}

.about .circle3{
  left: 260px;   top: 2520px; 
  width: 500px;   height: 500px; 
  border-radius: 9999px; 
  border: 15px #ED8226 solid;
  background: url("../img/main/3about/about3.jpg") center /cover;
}

/* about - bg */
.about .rect3 {
  position :absolute;
  top : 0%; 
  width: 100%;  height: 100%;
  background: url("../img/main/bg/rect3.png") no-repeat left top / cover;
}

.about .rect4 {
  position : absolute;
  top : 0%;
  width: 100%;  height: 100%;
  background: url("../img/main/bg/rect4.png") no-repeat left top / cover;
}


/* ====================== esg ====================== */
.esg {
  width: 100%;  height: 1180px;  
  text-align: center;
  /* border: 1px solid blue; */
}

.esg .cons {
  display: flex; gap:10px;   
  width: 100%; height: 800px;
  /* background: pink; */
}

.esg .esg-rect {
  width: calc(100% / 3); height: 700px;
  text-align: center;  
  overflow: hidden;
  position: relative;
  
}

.esg .pic {
  width: 100%;height: 670px;
  border-radius: 50px;
  border: 7px solid #ff6400;
  background: yellow;
  margin-top: 30px;
}

.esg .e .pic {background: url("../img/main/4ESG/1E.png") no-repeat center /cover;}
.esg .s .pic {background: url("../img/main/4ESG/2S.png") no-repeat center /cover;}
.esg .g .pic {background: url("../img/main/4ESG/3G.png") no-repeat center /cover;}


/* ----------------- */
.esg .fl {display: flex;}

.esg .txt {
  font-size: 300px; font-weight: bold;
  color: rgba(255, 255, 255, 0.6);

  line-height: 300px;
  position : absolute;
  bottom: 0;
  left: 0;
}

.esg .s .txt {  color: rgba(1, 1, 1, 0.6);}

/* ----------------- */


.esg .ico {width: 164px; height: 164px; position: absolute; left:200px; bottom: 0;}
.esg .e .ico {background: url("../img/main/icon/plant.png") no-repeat center /cover;}
.esg .s .ico {background: url("../img/main/icon/people.png") no-repeat center /cover;}
.esg .g .ico {background: url("../img/main/icon/gov.png") no-repeat center /cover;}

.esg .button {
  width: 240px;height: 48px;  
  border-radius: 50px;
  margin: 0 auto;  
  background: url("../img/main/button/more.png") no-repeat center /contain;

}



/* ====================== sns (Enjoy together) ====================== */
.sns {
  width: 100%;  height: 1000px;
  text-align: center;
  border: 1px solid #000;
  /* background: url("../img/main/bg/bg_sns.png")  no-repeat center /cover; */
}
.sns .title {color:#e60012; text-align-last: left;}
.sns .sub-title {text-align-last: left;}

.sns .inner {background: yellowgreen;}

.sns .cons {
  display: flex;
  gap: 10px;
  width: 100%;          /* 💡 너비를 부모 요소에 맞게 확장 */
  max-width: 920px;     /* 💡 필요한 최소 너비로 제한 (옵션) */
  margin: 0 auto;       /* 💡 가운데 정렬 */
  flex-wrap: wrap;      /* 💡 화면이 좁을 경우 줄바꿈 허용 */
}

.sns .s-rect {
  /* width: 600px; height: 600px;
  text-align: center;   */
  /* overflow: hidden; */
  /* position: relative; */
  
}

.sns .pic {
  width: 300px;height: 300px;
  border-radius: 50px;
  background: yellow;
    overflow:hidden;
}

.sns .s1 .pic {background: url("../img/main/5SNS/sns1.png") no-repeat center /cover;}
.sns .s2 .pic {background: url("../img/main/5SNS/sns2.png") no-repeat center /cover;}
.sns .s3 .pic {background: url("../img/main/5SNS/sns3.png") no-repeat center /cover;}






/* ====================== recipe ====================== */
.recipe {
  width: 100%;  height: 680px;
  text-align: center;
  border: 1px solid #000;
  position: relative;
}


.recipe {
  width: 100%;  height: 1110px;  
  text-align: center;
  /* border: 1px solid blue; */
}

.recipe .cons {
  display: flex; gap:10px;   
  width: 100%; height: 800px;
  /* background: pink; */
}

.recipe .r-rect {
  width: calc(100% / 3); height: 900px;
  text-align: center;  
  overflow: hidden;
  position: relative;
  
}

.recipe .pic {
  width: 100%;height: 670px;
  border-radius: 50px;
  border: 7px solid #ff6400;
  background: yellow;
  margin-top: 30px;
}

.recipe .r1 .pic {background: url("../img/main/6RECIPE/recipe1.jpg") no-repeat left top /cover;}
.recipe .r2 .pic {background: url("../img/main/6RECIPE/recipe2.jpg") no-repeat left top /cover;}
.recipe .r3 .pic {background: url("../img/main/6RECIPE/recipe3.jpg") no-repeat left top /cover;}


.recipe .bg {
  position: absolute; left: 0;top: 0;
  width: 100%;height: 100%;
  background: url("../img/main/bg/bg_recipe.png") no-repeat center /contain;}

/* ====================== news ====================== */
.news {
  width: 100%;   height: 868px;
  text-align: center;
  border: 1px solid #000;
}

.news .cons {
  display: flex; gap:10px;   
  width: 100%; height: 800px;
  /* background: pink; */
}

.news .n-rect {
  width: calc(100% / 3); height: 900px;
  text-align: center;  
  overflow: hidden;
  position: relative;
  
}

.news .pic {
  width: 100%;height: 550px;
  border-radius: 50px;
  border: 7px solid #ff6400;
  background: yellow;
  margin-top: 30px;
}

.news .n1 .pic {background: url("../img/main/7NEWS/news1.png") no-repeat center /cover;}
.news .n2 .pic {background: url("../img/main/7NEWS/news2.jpg") no-repeat center /cover;}
.news .n3 .pic {background: url("../img/main/7NEWS/news3.png") no-repeat center /cover;}


.news .bg {
  position: absolute; left: 0;top: 0;
  width: 100%;height: 100%;
  background: url("../img/main/bg/bg_recipe.png") no-repeat center /contain;}


/* ====================== footer ====================== */
footer {
  text-align: center;
  width: 100%;  
  height: 680px;
  border: 1px solid #000;

}

/* ------------ slide ------------------------- */

.main-visual.embla {
  /* position: relative; */
  /* z-index:-9999; */
  position:absolute;
  left:0;
  top:0;
  max-width: 100%;
  min-width: 1280px;
  height: 680px;
  margin: auto;
}

.main-visual.embla::before {
  content: "";
  position: absolute;
  /* z-index: -1; */
  left: -10px;
  top: 10px;
  bottom: 0;
  right: 0;
  width: auto;
  border-bottom-left-radius: 360px;
  background: linear-gradient(270deg, #F5440F -0.83%, #E81622 49.58%, #594EA2 100%);
}

.main-visual.embla::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 1px;
  top: 0;
  bottom: 10px;
  right: 0;
  width: auto;
  border-bottom-left-radius: 360px;
  background: #000
}

.main-visual .embla__viewport {
  overflow: hidden;
  border-bottom-left-radius: 360px;
}

.main-visual .embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.main-visual .embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 100%;
  min-width: 0;
}

.main-visual .embla__slide__img {
  display: block;
  height: 670px;
  width: 100%;
  object-fit: cover;
  user-select: none;
}


.main-visual .text-animation {
  position: absolute;
  bottom: 80px;
  left: 18%;
  width: 50%;
  text-align: left;
  padding: 0;
  color: white;
  font-size: 1.4rem;
  overflow: hidden;
}

/*
opacity: 0 상태로 시작해 translateY(20px)로 아래에서 올라온 모습.

animation-delay를 줄 때 순서대로 지연을 주면 문장들이 순차적으로 나타나는 연출이 됩니다.
*/

.text-animation span {
display: inline-block; overflow: hidden; font-size: 44px; font-weight: 400; line-height: 1.2; margin-left:10px;  
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  animation: slideUpFade 0.8s forwards;
}

/* stagger 효과 */
.text-animation span:nth-of-type(1) {
  animation-delay: 0.3s;
}
.text-animation span:nth-of-type(2) {
  animation-delay: 0.6s;
}
.text-animation span:nth-of-type(3) {
  animation-delay: 0.9s;
}

@keyframes slideUpFade {
  to {
  opacity: 1;
  transform: translateY(0);
  }
}



/*  */

.embla__controls {
  position: absolute;
  bottom: 90px;
  right: 18%;
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
  /* z-index: 10; */
}

.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
  display: none;
}

.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  /* z-index: 1; */
  border-radius: 50%;
  color: var(--text-body);
  align-items: center;
  justify-content: center;
}

.embla__button:disabled {
  color: var(--detail-high-contrast);
}

.embla__button__svg {
  width: 35%;
  height: 35%;
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 8px
}

.embla__dot {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: none;
  border: 0 none;
  padding: 0;
  margin: 0
}

.embla__dot:after {
  content: '';
  display: flex;
  width: 32px;
  height: 4px;
  padding: 0;
  margin: 0;
  background: rgba(255, 255, 255, 0.3);
   /* background: rgba(0, 0, 0, 0.3); */
}

.embla__dot--selected:after {
  background: #fff
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.embla__play {
  display: inline-flex;
  align-items: center;
  width: 40px;
  height: 40px;
  background: url(../img/main/icon/icon_slider_play.png);
  background-size: 40px 40px;
  cursor: pointer;
  border: 0 none;
  font-size: 0;
  color: transparent;
  /* z-index : 11; */
}

.embla__play.stop {
  background: url(../img/main/icon/icon_slider_stop.png);
  background-size: 40px 40px;
}
